:root {
    --color-h1: #FFFFFF;
    --color-p: #23053A;
    --color-h2: #4A4E69;
    --bg-header: #8E9AAF;
    --bg-body: #EFF1FF;
    --bg-h1: #CBC0D3;
    --bg-h2: #FEEAFA;

    --font-h1-h2: 'Staatliches', cursive;
    --font-p: 'Palanquin', sans-serif;
    --font-footer: 'Open Sans', sans-serif;

    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-h1-h2);

    background: var(--bg-body);
}


header {
    padding: 3.2rem 0;
    background: var(--bg-header);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
    margin-bottom: 1.4rem;
}

header h1 {
    background: var(--bg-h1);
    color: var(--color-h1);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);;

    font-size: 4rem;
    font-weight: 400;
    line-height: 3.4rem;
    letter-spacing: 2px;
    padding: 0.8rem;

    width: 100vw;
    text-align: center;
}

header img, h1, header p {
    animation: topdown 700ms;
}

header .text {
    display: none;
}

main {
    width: 38.4rem;
    margin: auto;
    padding: 1.4rem 3.2rem;
    display: grid;
}

main .cards {
    display: grid;
    gap: 3.2rem;
}

main p {
    text-align: center;
    color: var(--color-p);
    font-family: var(--font-p);
    font-size: 1.7rem;
    line-height: 1.5rem;
    font-weight: 400;

    margin-bottom: 6rem;
    animation: downtop 800ms backwards;
}

.card, .card2 {
    position: relative;
}

.card h2, .card2 h2 {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    font-size: 2rem;
    line-height: 3.4rem;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0 2.3rem;


    color: var(--color-h2);
    background: var(--bg-h2);
    border-radius: 2rem;

    animation: topdown 700ms;
}

.card img {
    animation: downtop 800ms backwards;
    object-fit: cover;
    opacity: 1;
    transition: all 200ms;
    
    width: 100%;
    height: 450px;
    border-radius: 20px;
}

.card2 img {
    animation: downtop 800ms backwards;
    object-fit: cover;
    opacity: 1;
    transition: all 200ms;
    
    height: 250px;
    width: 100%;
    border-radius: 20px;
}

.card img:hover, .card2 img:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.cards div:nth-child(5), .cards div:nth-child(6) {
    display: none;
}

.footer {
    display: none;
}


@keyframes topdown {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes downtop {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 800px) {

    .page {
        display: flex;
    }

    header {
        width: 37.7rem;
        height: 100vh;
        text-align: center;
        margin: 0;
    }

    header h1 {
        width: 37.7rem;
    }

    header .text {
        display: block;
        width: 27.5rem;
        color: var(--color-h1);
        font-family: var(--font-p);
        font-size: 1.9rem;
        font-weight: 400;
        line-height: 2rem;
    }


    main {
        margin: auto;
        width: auto;
        padding: 3rem 6rem;
    }

    .main p {
        display: none;
    }

    .cards {
      display: grid;
      grid-template-areas: 
      "A B"
      "D B"
      "D C"
      ;
      gap: 3.2rem;
    }


    .card img {
        object-fit: cover;
        width: 100%;
        height: 35rem;
        border-radius: 2rem;
    }

    .card2 img {
        height: 15rem;
        width: 100%;
        border-radius: 2rem;
        object-fit: cover;
    }

    .cards div:nth-child(1) {
        grid-area: A;
    }

    .cards div:nth-child(2) {
        grid-area: B;
    }

    .cards div:nth-child(3) {
        grid-area: C;
    }

    .cards div:nth-child(4) {
        grid-area: D;
    }

    .footer {
        display: block;
        margin-top: 13rem;
        text-align: center;
        
        color: var(--color-h2);
        font-family: var(--font-footer);
        font-size: 1.4rem;
    }
}


@media (min-width: 1150px) {
    
    .cards {
      display: grid;
      grid-template-areas: 
      "A B E"
      "D B F"
      "D C F"
      ;
      gap: 3.2rem;
    }

    .cards div:nth-child(1) {
        grid-area: A;
    }

    .cards div:nth-child(2) {
        grid-area: B;
    }

    .cards div:nth-child(3) {
        grid-area: C;
    }

    .cards div:nth-child(4) {
        grid-area: D;
    }

    .cards div:nth-child(5) {
        display: block;
        grid-area: E;
    }

    .cards div:nth-child(6) {
        display: block;
        grid-area: F;
    }
  }
  
  
  